.jumbotron {
  padding-top: 7rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
  padding-top: 11rem;
}

h2 {
  padding-bottom: 2rem;
}

#Tentang {
  padding-top: 16rem;
}

#contact {
  padding-top: 15rem;
}
